<div class="container">
  <div class="sub-container">

    <div class="box" style="background:orange">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex hic at doloremque quisquam ducimus dolor sequi velit libero repellat eum.
    </div>

    <div class="box" style="background:whitesmoke; color:navy">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sint fugit impedit quam nulla dolore placeat ea quae excepturi dicta.
    </div>

    <div class="box" style="background:green">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio eum minima similique. Cumque dolorum nulla architecto magnam eius laboriosam repudiandae aspernatur porro adipisci animi consequuntur error atque, sunt ut, dicta suscipit libero. Natus ducimus repudiandae architecto animi, corrupti odio non.
    </div>

  </div>
</div>